samples/p4_integ/scripts/SamplesInfo.dtd

<!ELEMENT entry (title,name?,owner?,group,description,project_path,exelwtable?,type*,primary_file?,ptx?,fatbin?,screenshots?,userguide?,video?,whitepaper?,supported_sm_architectures,scopes,featured_date?,keywords?,files?,qatests?,elwvars?,fallback_min_ptx?,gencode?,supportedbuilds?,lwda_api_list?,keyconcepts?,cflags?,compilations?,sources?,extraheader?,extracompilation?,cleanextras?,libraries?,librarypaths?,shared_libs?,includepaths?,additional_preprocessor?,devicecompilation?,postbuildevent?,required_dependencies?,supported_elws,nsight_eclipse,documentation?)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT owner (#PCDATA)>
<!ELEMENT group (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT project_path (#PCDATA)>
<!ELEMENT screenshots (screenshot+)>
<!ELEMENT screenshot (#PCDATA)>
<!ATTLIST screenshot size (small|medium|large) #REQUIRED>
<!ELEMENT userguide (#PCDATA)>
<!ELEMENT video (#PCDATA)>
<!ELEMENT whitepaper (#PCDATA)>
<!ELEMENT exelwtable (#PCDATA)>
<!ELEMENT supported_sm_architectures ((from|include),to?,exclude*)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT keywords (keyword)*>
<!ELEMENT scopes (scope+)>
<!ELEMENT scope (#PCDATA)>
<!ELEMENT featured_date (#PCDATA)>
<!ELEMENT lwda_api_list ((toolkit|driver)+)>
<!ELEMENT toolkit (#PCDATA)>
<!ELEMENT driver (#PCDATA)>
<!ELEMENT additional_preprocessor (preprocessor+)>
<!ELEMENT preprocessor (#PCDATA)>
<!ELEMENT devicecompilation (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT primary_file (#PCDATA)>
<!ELEMENT required_dependencies (dependency+)>
<!ELEMENT dependency (#PCDATA)>
<!ELEMENT supported_elws (elw+)>
<!ELEMENT elw (platform?,arch?)>
<!ELEMENT platform (#PCDATA)>
<!ELEMENT arch (#PCDATA)>
<!ELEMENT nsight_eclipse (#PCDATA)>
<!ELEMENT keyconcepts (concept+)>
<!ELEMENT concept (#PCDATA)>
<!ATTLIST concept level CDATA #REQUIRED>
<!ELEMENT library (#PCDATA)>
<!ATTLIST library os (linux|windows|macosx|Linux|Windows|all) "all">
<!ATTLIST library arch (32|64|all) "all">
<!ATTLIST library framework (true|false) "false">
<!ELEMENT files (file+)>
<!ELEMENT file (#PCDATA)>
<!ELEMENT qatests (qatest+)>
<!ELEMENT qatest (#PCDATA)>
<!ELEMENT elwvars (elwvar+)>
<!ELEMENT elwvar (#PCDATA)>
<!ATTLIST elwvar qaonly (yes|no) "no" >
<!ELEMENT cflags (flag+)>
<!ELEMENT flag (#PCDATA)>
<!ELEMENT fallback_min_ptx (#PCDATA)>
<!ELEMENT gencode (sm*|(include+,exclude*)|(exclude+,include*))>
<!ELEMENT libraries (library+)>
<!ELEMENT librarypaths (path+)>
<!ELEMENT shared_libs (library+)>
<!ELEMENT includepaths (path+)>
<!ELEMENT ptx (#PCDATA)>
<!ELEMENT fatbin (#PCDATA)>
<!ELEMENT sm (#PCDATA)>
<!ELEMENT include (#PCDATA)>
<!ATTLIST include type (desktop|cheetah|all) "all">
<!ELEMENT exclude (#PCDATA)>
<!ATTLIST exclude type (desktop|cheetah|all) "all">
<!ELEMENT postbuildevent (event+,eventclean*)>
<!ELEMENT event (#PCDATA)>
<!ATTLIST event os (linux|windows|macosx|Linux|Windows|all) "all">
<!ELEMENT eventclean (#PCDATA)>
<!ATTLIST eventclean os (linux|windows|macosx|Linux|Windows|all) "all">
<!ELEMENT supportedbuilds (build*)>
<!ELEMENT build (#PCDATA)>
<!ELEMENT keyword (#PCDATA)>
<!ELEMENT path (#PCDATA)>
<!ATTLIST path os (linux|windows|macosx|Linux|Windows|all) "all">
<!ELEMENT sources (ignore*,extraheader*,extracompilation*,extranone*)>
<!ELEMENT ignore (#PCDATA)>
<!ELEMENT extracompilation (#PCDATA)>
<!ELEMENT extraheader (#PCDATA)>
<!ELEMENT extranone (#PCDATA)>
<!ELEMENT compilations (static*,object*)>
<!ELEMENT static (target,src)>
<!ELEMENT object (src,gencode)>
<!ELEMENT src (#PCDATA)>
<!ELEMENT target (#PCDATA)>
<!ELEMENT cleanextras (clean+)>
<!ELEMENT clean (#PCDATA)>
<!ELEMENT documentation (#PCDATA)>
